---
title: Marcella Pereda - News
---


<html>

    {% include header.html %}

    <body>

    {% include navigation.html format="small" %}

    <div class="static-page-title container">
        <h1>News</h1>
    </div>

    <div class="news">
        <div class="top">
            <h1>I'm Afraid of Death but Not of Dying
            </h1>
            <p>May 20, 2018</p>
            <p class="first">A dark comedy about how we’re terrible at loving people when we’re terrified of losing them.</p>
            <p>When hypochondriac Natalie falls in love with chronically ill Sam, she doesn’t know how to manage his Cystic Fibrosis. As their relationship begins to disintegrate amidst Sam’s new online relationship with another CF patient, Clara, the three of them struggle to reconcile issues of connection, fear, hope, and loneliness together.</p>
            <p><a class="contact-action" target="_blank" href="https://www.brownpapertickets.com/event/3464577">Buy Tickets</a></p>
            <div class="news-image">
                <img src="{{ "/images/shenyc.png" | relative_url }}" style="height: 400px;" />
            </div>

        </div>
    </div> 
    </body>
</html>


