--- 
title: Marcella Pereda - Pictures 
---


<html>

{% include header.html %}

<body>

    {% include navigation.html format="small" %}

    <div class="static-page-title container">
        <h1>Pictures</h1>
    </div>


    <div class="bio">
        <div class="top">
            <h2>Tis Pity She's a Whore</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first wide" style="background-image:url('{{ "images/gallery/Tis Pity She_s a Whore1_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/Tis Pity She_s a Whore1.jpg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/Tis Pity She_s a Whore2_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/Tis Pity She_s a Whore2.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/Tis Pity She_s a Whore3_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/Tis Pity She_s a Whore3.jpg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/Tis Pity She_s a Whore4_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/Tis Pity She_s a Whore4.jpg
                " | relative_url }}"></a>
        </div>
    </div>


    <div class="bio">
        <div class="top">
            <h2>The Adding Machine</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>


    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first wide" style="background-image:url('{{ "images/gallery/The Adding Machine1_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/The Adding Machine1.jpg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/The Adding Machine2_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/The Adding Machine2.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/The Adding Machine3_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/The Adding Machine3.jpg
            " | relative_url }}"></a>
        </div>
    </div>

    <div class="bio">
        <div class="top">
            <h2>The Elephant Man</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first narrow" style="background-image:url('{{ "images/gallery/The Elephant Man1_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/The Elephant Man1.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/The Elephant Man2_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/The Elephant Man2.jpg
            " | relative_url }}"></a>
        </div>
    </div>

    <div class="bio">
        <div class="top">
            <h2>Metamorphoses</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first wide" style="background-image:url('{{ "images/gallery/Metamorphoses1_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses1.jpg
            " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/Metamorphoses2_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses2.jpg
            " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/Metamorphoses3_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses3.jpg
            " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/Metamorphoses4_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses4.jpg
            " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/Metamorphoses5_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses5.jpg
            " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/Metamorphoses6_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Metamorphoses6.jpg
            " | relative_url }}"></a>
        </div>
    </div>

    <div class="bio">
        <div class="top">
            <h2>DigitalOcean Media Campaign</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first narrow" style="background-image:url('{{ "images/gallery/DigitalOcean Media Campaign1_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/DigitalOcean Media Campaign1.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/DigitalOcean Media Campaign2_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/DigitalOcean Media Campaign2.jpg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/DigitalOcean Media Campaign3_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/DigitalOcean Media Campaign3.jpg
                " | relative_url }}"></a>
        </div>
    </div>


    <div class="bio">
        <div class="top">
            <h2>The Skin of Our Teeth</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first wide" style="background-image:url('{{ "images/gallery/The Skin of Our Teeth1_thumb.jpeg
                " | relative_url }}');" href="{{ "images/gallery/The Skin of Our Teeth1.jpeg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/The Skin of Our TeethPromo_thumb.jpeg
                " | relative_url }}');" href="{{ "images/gallery/The Skin of Our TeethPromo.jpeg
                " | relative_url }}"></a>
        </div>
    </div>



    <div class="bio">
        <div class="top">
            <h2>My Parents Are Here Tonight</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first narrow" style="background-image:url('{{ "images/gallery/My Parents Are Here Tonight1_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/My Parents Are Here Tonight1.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/My Parents Are Here Tonight2_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/My Parents Are Here Tonight2.jpg
                " | relative_url }}"></a>
            <a class="image narrow" style="background-image:url('{{ "images/gallery/My Parents Are Here Tonight3_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/My Parents Are Here Tonight3.jpg
                " | relative_url }}"></a>
        </div>
    </div>


    <div class="bio">
        <div class="top">
            <h2>Butoh Solo</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first narrow" style="background-image:url('{{ "images/gallery/Butoh Solo1_thumb.jpeg " | relative_url }}');" href="{{ "images/gallery/Butoh Solo1.jpeg " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/Butoh Solo2_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Butoh Solo2.jpg " | relative_url }}"></a>
        </div>
    </div>






    <div class="bio">
        <div class="top">
            <h2>Extras</h2>
            <!-- <p class="first">Here's something about it.</p> -->
        </div>
    </div>

    <div class="image-strip">
        <div class="image-strip-container">
            <a class="image first narrow" style="background-image:url('{{ "images/gallery/The Vagina MonologuesPromo_thumb.jpg
                " | relative_url }}');" href="{{ "images/gallery/The Vagina MonologuesPromo.jpg
                " | relative_url }}"></a>
            <a class="image wide" style="background-image:url('{{ "images/gallery/Street Theatre_thumb.jpg " | relative_url }}');" href="{{ "images/gallery/Street Theatre.jpg
            " | relative_url }}"></a>
        </div>
    </div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />





</body>

</html>